<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Inventory</title>

    <link rel="stylesheet" href="~/css/bootstrap-icons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/toastify.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/dashboard-style.css" asp-append-version="true" />

</head>
<body>
    <div class="container-fluid">
          <div class="row">
            <div class="col-auto dashboard-sidebar bg-success p-1" >
                @Html.Partial("~/Views/Dashboard/_DashboardSidebar.cshtml");
            </div>
            <div class="col dashboard-content" >
                <main role="main" class="pb-3">
                @RenderBody()
            </main>
            </div>
        </div>
     </div>







    <script src="~/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/toastify-js.js" asp-append-version="true"></script>
    <script src="~/js/axios.min.js" asp-append-version="true"></script>
    <script src="~/js/config.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>