<div class="container">
    <div class="row text-center text-light">
        <p>Copyright &copy; @DateTime.Now.ToString("yyyy") - Inventory - <a class="text-light" asp-area="" asp-controller="Home" asp-action="index">Home</a></p>
    </div>
</div>