<div class="container-fluid">
  <div class="row">
    <div class="d-flex justify-content-around align-items-center fs-4">
      <a href="/" class="nav-link text-light ">
        <i class="bi bi-house-fill"></i>
      </a>
      <a href="/dashboard" class="nav-link text-light">
        <i class="bi bi-speedometer2"></i>
        <span class="d-none d-md-inline ms-md-1">Dashboard</span>
      </a>
    </div>
    <hr />

    <div class="menu">
      <ul class="nav" id="menu">
        <li class="nav-item">
          <a href="#" class="nav-link link-dark">
            <i class="bi bi-mailbox"></i>
            <span class="d-none d-md-inline">Inbox</span>
          </a>
        </li>
        <li class="nav-item">
          <a asp-controller="Brand" asp-action="Index" class="nav-link link-dark">
            <i class="bi bi-image"></i>
            <span class="d-none d-md-inline">Brand</span>
          </a>
        </li>
        <li class="nav-item">
          <a asp-controller="Category" asp-action="Index" class="nav-link link-dark">
            <i class="bi bi-calendar"></i>
            <span class="d-none d-md-inline">Category</span>
          </a>
        </li>
        <li class="nav-item">
          <a asp-area="" asp-controller="Media" asp-action="Index" class="nav-link link-dark">
            <i class="bi bi-card-image "></i>
            <span class="d-none d-md-inline">Media</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#Products" data-bs-toggle="collapse" class="nav-link link-dark position-relative">
            <i class="bi bi-cart"></i>
            <span class=" d-none d-md-inline">Products</span>
            <i class="bi bi-chevron-down position-absolute end-0 d-none d-md-inline"></i>
          </a>
        </li>
        <ul class="collapse nav ms-3" id="Products" data-bs-parent="#menu">
          <li class="nav-item">
            <a asp-controller="Product" asp-action="ProductList" class="nav-link link-dark">
              <span class="d-none d-md-inline">All Products</span>
            </a>
          </li>
          <li class="nav-item">
            <a asp-controller="Product" asp-action="Create" class="nav-link link-dark">
              <span class="d-none d-md-inline">Add New Product</span>
            </a>
          </li>
        </ul>

        <li class="nav-item">
          <a asp-controller="Customer" asp-action="Index" class="nav-link link-dark">
            <i class="bi bi-people"></i>
            <span class="d-none d-md-inline">Customers</span>
          </a>
        </li>



        <li class="nav-item">
          <a href="#post" data-bs-toggle="collapse" class="nav-link link-dark position-relative">
            <i class="bi bi-card-text"></i>
            <span class="d-none d-md-inline">Post</span>
            <i class="bi bi-chevron-down position-absolute end-0 d-none d-md-inline"></i>
          </a>

        </li>
        <ul class="collapse nav ms-3" id="post" data-bs-parent="#menu">
          <li class="nav-item">
            <a href="/new-post" class="nav-link link-dark">
              <span class="d-none d-md-inline">New post</span>
              <span class="d-md-none d-inline-block">New</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/all-post" class="nav-link link-dark">
              <span class="d-none d-md-inline">All post</span>
              <span class="d-md-none d-inline-block">All</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/category" class="nav-link link-dark">
              <span class="d-none d-md-inline">Category</span>
              <span class="d-md-none d-inline-block">Cat</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/tags" class="nav-link link-dark">
              <span class="d-none d-md-inline">Tags</span>
              <span class="d-md-none d-inline-block">Tags</span>
            </a>
          </li>
        </ul>


        
        <li class="nav-item">
          <a href="#Portfolio" data-bs-toggle="collapse" class="nav-link link-dark position-relative">
            <i class="bi bi-briefcase"></i>
            <span class="d-none d-md-inline">Portfolio</span>
            <i class="bi bi-chevron-down position-absolute end-0 d-none d-md-inline"></i>
          </a>
        </li>
        <ul class="collapse nav ms-3" id="Portfolio" data-bs-parent="#menu">
          <li class="nav-item">
            <a href="/mern" class="nav-link link-dark">
              <span class="d-none d-md-inline">MERN</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/mern" class="nav-link link-dark">
              <span class="d-none d-md-inline">React</span>
            </a>
          </li>
          <li class="nav-item">
            <a href="/mern" class="nav-link link-dark">
              <span class="d-none d-md-inline">Product</span>
            </a>
          </li>
        </ul>
        
        <li class="nav-item">
          <a asp-controller="User" asp-action="Index" class="nav-link link-dark">
            <i class="bi bi bi-person-circle"></i>
            <span class="d-none d-md-inline">Users</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="text-center">
      
      <hr />
      <div class="dropdown bg-light rounded">
        <a asp-action="#" class="p-2 d-flex align-items-center gap-2 justify-content-center link-dark nav-link dropdown-toggle" id="dropdownUser2"
          data-bs-toggle="dropdown" aria-expanded="false">
          @* <img src="" alt="home" width="32" class="rounded-circle me-2" /> *@
          <i class="bi bi-person"></i>
          <strong class="d-none d-sm-inline">users name</strong>
        </a>
        <ul class="dropdown-menu shadow">
          <li>
            <a href="/profile" class="dropdown-item">
              New project...
            </a>
          </li>
          <li>
            <a href="/setting" class="dropdown-item">
              Settings
            </a>
          </li>
          <li>
            <a href="/profile" class="dropdown-item">
              Profile
            </a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <a href="/logout" class="dropdown-item">
              Sign out
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>