
@model List<Category>
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-12">
        <h2>Welcome to dashboard</h2>
    </div>
</div>
